.App {
  text-align: center;
  /*background-color: red;*/
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  /*text-transform: uppercase;*/
}

pre {
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 0.8rem;

}

/* STEP CARDS */

.MuiCardHeader-root {
  color: #263238;
}

/* Card title when the avatar is used */
.MuiTypography-body2 {
  font-size: 3em !important
}

.stepHeader {
  font-size: 0.4em;
}

.stepSubHeader {
  margin-top: 0;
  font-size: 0.9em;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

/* Card content */
.MuiCardContent-root {
  margin-top: 1.5em;
}
