.App {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  /*text-transform: uppercase;*/
}

pre {
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

/*Form helper text*/
.helper-text {
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
  /*font-size: 3px;*/
}

/* STEP CARDS */

.MuiCardHeader-root {
  background-color: #E6E8F4;
  color: #263238;
}
